# Do not include files from simulation or synthetisation.

*simdir**
*synthdir**
*~
.metadata/
CPU_notforuse.vhd
ZigSoundGraphics.cr.mti
ZigSoundGraphics.mpf
vsim.wlf

work/
transcript
ZigSoundDemo.mpf
ZigSoundDemo.cr.mti

*#*
